%parallax {
  background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -o-background-attachment: fixed;
    background-attachment: fixed;
}
%shadow {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

// breakpoints

@mixin bp-large {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}


// vertical align el inside parent with fixed height/min-height
// usage 
// html - .parent>.child
// scss - @include v-align;
//     or @include v-align(250px);
//     or @include v-align(250px, bottom, before);
//
@mixin v-align($va-height: 100%, $va-direction: middle, $va-pseudo: after) {
  white-space: nowrap;
  text-align: center;

  &:#{$va-pseudo} {
    content: '';
    display: inline-block;
    vertical-align: $va-direction;
    width: 0;
    min-height: $va-height;
  }

  > * {
    white-space: normal;
    display: inline-block;
    vertical-align: $va-direction;
    max-width: 100%;
  }
}

// vertical align a pair of child el inside parent
// usage 
// html - .post>.image+.text
// scss - @include v-align-pair(image, text);
//     or @include v-align-pair(image, text, bottom);
//     or @include v-align-pair(image, text, middle, 200px);
//
@mixin v-align-pair($child-name1, $child-name2, $valign: middle, $width1: auto, $width2: auto ) {
  display: table;
  .#{$child-name1}{
    display: table-cell;
    vertical-align: $valign;
    width: $width1; 
  }
 .#{$child-name2} {
    display: table-cell;
    vertical-align: $valign;
    width: $width2;
  }
}


// vertical align el
// usage: @include vertical-align-el;
//
@mixin vertical-align-el {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/// Mixin helping defining both `width` and `height` simultaneously.
///
/// @author Hugo Giraudel
///
/// @access public
///
/// @param {Length} $width - Element’s `width`
/// @param {Length} $height ($width) - Element’s `height`
///
/// @example scss - Usage
///   .foo {
///     @include size(10em);
///   }
///
///   .bar {
///     @include size(100%, 10em);
///   }
///
/// @example css - CSS output
///   .foo {
///     width: 10em;
///     height: 10em;
///   }
///
///   .bar {
///     width: 100%;
///     height: 10em;
///   }
///
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

/// font-smothing
/// @include font-smoothing(on);
/// @include font-smoothing(off);
@mixin font-smoothing($value:on){
  @if $value == on{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
  }
  @else{
    -webkit-font-smoothing:subpixel-antialiased;
    -moz-osx-font-smoothing:auto;
  }
}


/// Hides the text in an element, commonly used to show an image. Some elements will need block-level styles applied.

%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}



/// Animate css properties
// usage 
// scss - @include animate(color);
//     or @include animate(color width);
//     or @include animate(color width, 1s, linear);
//
$animation-speed: .3s !default;

@mixin animate($properties, $duration: $animation-speed, $easing: ease-in-out) {
  $list:();
  @each $prop in $properties {
    $str: #{$prop} #{$animation-speed} #{$easing};
    $list: join($list, $str, comma);
  }
  transition: $list;
}


/// Mixin for styling form-placeholders
/// @example scss - Usage
///   @include placeholder {
///    color: #333;
///   }
///
///   input[type='text'],
///   input[type='tel'],
///   input[type='email'] {
///     @include placeholder {
///      color: red;
///     }
///   }

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &::-moz-placeholder {opacity: 1; @content}
  &:-moz-placeholder {@content}
  &:-ms-input-placeholder {@content}
  &.placeholder {@content}
}

/// Font-size px to rem calc
/// @example scss - Usage
/// selector {
///    @include rem-font-size(16px);
/// }

@mixin rem-font-size($pxSize) {
  font-size: $pxSize;
  font-size: ($pxSize / 10px) + rem;
}
// link color
@mixin link-color($color) {
  color: $color;
  &:hover, &:focus {
    opacity:0.80;
    text-decoration: none;
    &:after, &:before {
      opacity:0.80;
    }
  }
}

@mixin fontface ($fontfamily, $filename, $font-weight:normal, $font-style:normal) {
	font-family: $fontfamily;
	src: url('fonts/#{$filename}.eot');
	src: url('fonts/#{$filename}.eot?#iefix') format('embedded-opentype'),
		url('fonts/#{$filename}.woff') format('woff'),
		url('fonts/#{$filename}.ttf') format('truetype'),
		url('fonts/#{$filename}.svg##{$fontfamily}') format('svg');
	font-weight: $font-weight;
	font-style: $font-style;
}

// animation
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}
// animation usage
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

// icomoon usage
@mixin icon($content){
	font-family: 'icomoon';
	content: $content;
	font-weight: normal;
}
// position absolute
@mixin absolute($top:0, $right:auto, $bottom:auto, $left:0){
  position: absolute;
  top:$top;
  right:$right;
  bottom:$bottom;
  left:$left;
}
@mixin fixed($top:0, $right:auto, $bottom:auto, $left:0){
  position: absolute;
  top:$top;
  right:$right;
  bottom:$bottom;
  left:$left;
}
@mixin relative($top:0, $right:auto, $bottom:auto, $left:0){
  position: relative;
  top:$top;
  right:$right;
  bottom:$bottom;
  left:$left;
}
// position Fixed
@mixin fixed($top:0, $right:auto, $bottom:auto, $left:0){
  position: fixed;
  top:$top;
  right:$right;
  bottom:$bottom;
  left:$left;
}
// vertical alignment
@mixin inline($alignment:middle){
	display:inline-block;
	vertical-align:$alignment;
}
// fonts
@mixin font($size: 16, $lineheight: 16, $weight:400) {
	font-size: $size + px;
	line-height: $lineheight + px;
	font-weight: $weight;
}
@mixin fontsize($size: 16, $lineheight: 16) {
	font-size: $size + px;
	line-height: $lineheight + px;
}
// responsive image
@mixin img-responsive{
	width: 100%;
	display: block;
	height: auto;
}
//		transition
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
//		transition duration
@mixin transition-duration($args...) {
  -webkit-transition-duration: $args;
  -moz-transition-duration: $args;
  -ms-transition-duration: $args;
  -o-transition-duration: $args;
  transition-duration: $args;
}
//		transform
@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}
//		transition-delay
@mixin transition-delay($args...) {
  -webkit-transition-delay: $args;
  -moz-transition-delay: $args;
  -ms-transition-delay: $args;
  -o-transition-delay: $args;
  transition-delay: $args;
}
//		transition
@mixin transform-origin($args...) {
  -webkit-transform-origin: $args;
  -moz-transform-origin: $args;
  -ms-transform-origin: $args;
  -o-transform-origin: $args;
  transform-origin: $args;
}

//  Border Radious
@mixin border-radius($args...) {
  -webkit-border-radius: $args;
  -moz-border-radius: $args;
  -ms-border-radius: $args;
  -o-border-radius: $args;
  border-radius: $args;
}
//  Border Radious
@mixin fullWidth($args...) {
  float: $left;
  width: 100%;
}

// list reset
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// list reset
%clearfix {
	&:after{
		clear:both;
		content:'';
		display:block;
	}
}

//  calc
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
//  @include calc( width, '100% - 2px')
@mixin placeholder-color($placeholderColor) {
  &::-webkit-input-placeholder { /* WebKit browsers */
    color: $placeholderColor;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $placeholderColor;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $placeholderColor;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $placeholderColor;
  }
}
@mixin placeholder-text-transform($placeholderColor, $text-transform) {
  &::-webkit-input-placeholder { /* WebKit browsers */
    color: $placeholderColor;
    text-transform: $text-transform;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $placeholderColor;
    text-transform: $text-transform;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $placeholderColor;
    text-transform: $text-transform;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $placeholderColor;
    text-transform: $text-transform;
  }
}