@charset "utf-8";
// Import helpers from directional.scss
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "directional";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@font-face {
  	font-family: 'CorporateACondME-Regular';
  	src:url('../fonts/CorporateACondME-Regular.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/CorporateACondME-Regular.otf')  format('opentype'),
	    url('../fonts/CorporateACondME-Regular.woff') format('woff'), 
	    url('../fonts/CorporateACondME-Regular.ttf')  format('truetype'), url('CorporateACondME-Regular.svg#CorporateACondME-Regular') format('svg');
  	font-weight: normal;
  	font-style: normal;
  	unicode-range: U+0020-FEFC;
}
html,
body {
	height: 100%;
}
// Use the helpers to make CSS for LTR or RTL
body{
	min-width:320px;
	direction: if-rtl(rtl, ltr);
	font-size: if-ltr(14px,14px);
	height: 100%;
	overflow-x: hidden;
	color: $black;

}
img {
	max-width: 100%;
}
ul,
ol,
form {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
section ul {
	list-style-type: disc;
	padding: if-ltr(0 0 0 20px,0 20px 0 0);
	li {
		margin-bottom: 5px;
		&:last-child {
			margin: 0;
		}
	}
}
a:hover,
a:focus {
	text-decoration:none;
}
a[href^=tel] {
	color: inherit;
	text-decoration: none;
}
h1 {
	font-size: 42px;
	font-weight: 400;
	margin: 0 0 15px;
	text-transform: uppercase;
	strong {
		display: block;
		font-weight: 900;
		text-transform: none;
	}
}
h2 {
	font-size: 36px;
	font-weight: 400;
	text-transform: none;
	margin: 0 0 10px;
	color: $lbrown;
	strong {
		display: block;
		font-weight: 900;
		text-transform: none;
	}
}
h4 {
	font-size: 19px;
	font-weight: 400;
	color: $black;
	margin: 0 0 10px;
	line-height: 1.35;
}
h6 {
	font-size: 24px;
	font-weight: 400;
	margin: 0 0 15px;
}
p.bigger {
	font-size: 18px;
}
.font-resize-helper{
	display:none;
}
a,img,button,input,section,div {
	outline: none !important;
}
a,
img,
button,
input,
textarea,
.form-control,
li,
ul,
i {
   outline: 0;
   @include transition-duration(0.6s) ;
}
.slider .item {
  	@extend %parallax;
}
p {
	font-size: if-ltr(16px,16px);
	line-height: 1.6;
	margin: 0 0 20px;
}
.form-control {
	@include border-radius (6px);
	background-color: rgba(216, 216, 216, 0.99);
	height: 42px;
	box-shadow: none;
	border: none;
}
section.register form label,
section.register form .gbox .btn.btn-blue,
section.register form .gbox.three label {
}
select.form-control {
	background-image: url(../images/selectbg.png);
	background-repeat: no-repeat;
	background-position: if-ltr(right, left) center;
	background-color: $lblue;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    color: $lbrown;
}
select::-ms-expand {
    display: none;
}
textarea.form-control {
	resize: none;
	min-height: 150px;
}
.btn {
	&.btn-primary {
		padding: 11px 45px;
		@include border-radius(4px);
		background-color: $purple;
		color: $white;
		box-shadow: #929292 0px 2px 7px;
		font-size: 16px;
		&:hover,
		&:focus {
			background-color: $dbrown;
		}
	}
	&.btn-success {
		padding: 11px 45px;
		@include border-radius(4px);
		background-color: #21AD00;
		color: $white;
		border-color: #21AD00;
		box-shadow: #929292 0px 2px 7px;
		font-size: 16px;
		&:hover,
		&:focus {
			background-color: darken(#21AD00, 15%);
			border-color: darken(#21AD00, 15%);
		}
		&.btn-red {
			background-color: #C30000;
			color: $white;
			border-color: #C30000;
			&:hover,
			&:focus {
				background-color: darken(#C30000, 15%);
				border-color: darken(#C30000, 15%);
			}
		}
	}
	&.btn-danger {
		padding: 11px 45px;
		@include border-radius(4px);
		background-color: #333333;
		color: $white;
		border-color: #333333;
		box-shadow: #929292 0px 2px 7px;
		font-size: 16px;
		&:hover,
		&:focus {
			background-color: #000000;
			border-color: #000000;
		}
	}
	&.btn-blue {
		height: 43px;
		line-height: 40px;
		color: $white;
		background-color: #9fddea;
		border-color: #9fddea;
		padding: 0 30px;
		border-radius: 2px;
		color: $white;
		font-size: 15px;
		cursor: pointer;
		display: block;
		max-width: 80%;
		margin: 0 auto;
		&:hover {
			background-color: darken($lblue,25%);
		}
	}
	&.btn-secondary {
		height: 38px;
		line-height: 38px;
		padding: 0;
		border: none;
		color: $lbrown;
		background-color: #F4EBD3;
		border-radius: 2px;
		padding: 0 40px;
		&:hover,
		&:focus {
			background-color: darken($purple, 10%);
			color: $white !important;
		}
	}
	&.btn-lg {
		height: 53px;
		line-height: 48px;
		padding: 0 70px;
		font-size: 18px;
	}
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}
@media (min-width: 768px) {
	.modal {
	  	text-align: center;
	  	padding: 0!important;
	  	&:before {
	  		content: '';
	  		display: inline-block;
	  		height: 100%;
	  		vertical-align: middle;
	  		margin-right: -4px;
	  	}
	}
	.modal-dialog {
	  	display: inline-block;
	  	vertical-align: middle;
	}
}
@media (min-width: 768px) {
	.modal-dialog {
    	width: 750px;
    	margin: 0 auto;
    }
}
.modal {
	.modal-title {
		font-size: 24px;
		margin: 0 0 20px;
		
	}
  	.modal-content {
  		h3 {
			color: $lbrown;
			font-size: 35px;
			margin: 0 0 40px;
			text-align: $left;
		}
		.modal-header {
			padding: 30px 40px 10px;
			border: none;
			h4 {
				font-size: 25px;
				text-align: $left;
				color: $brown;
			}
		}
		.modal-body {
			padding: 0 40px 35px;
			.form-control {
				font-size: 16px;
				margin: 0 0 20px;
				@include placeholder ($lbrown);
				background-color: $white;
				border: 1px solid #ddd;
			}
			.form-field {
				margin: 0 0 20px;
				h5 {
					text-align: $left;
					a {
						color: #BD9371;
						text-decoration: none;
						font-size: 16px;
					}
				}
			}
			.btn-groups {
				.btn {
					display: inline-block;
					margin: 0;
					min-width: 150px;
					text-align: center;
				}
			}
			label {
				font-size: 16px;
				font-weight: normal;
				text-align: $left;
				display: block;
				margin-bottom: 7px;
			}
			.btn {
				margin: 10px 0 20px;
				&.cancel {
					background-color: #BD9371;
					margin: if-ltr(0 0 0 15px,0 15px 0 0);
					border-color: #BD9371;
					&:hover {
						background-color: darken(#BD9371,15%);
						border-color: darken(#BD9371,15%);
					}
				}
			}

			p {
				color: $lbrown;
				font-size: 16px;
				margin: 0;
			}
		}
		.modal-footer {
			padding: 0 40px 35px;
			border: none;
			position: relative;
			text-align: $right;
		}
		.form-control {
			margin-bottom: 20px;
		}

  	}
  	.close {
  		float: $right;
  		position: relative;
    	font-size: 35px;
    	font-weight: normal;
    	margin: 0;
    	top: 0;
    	opacity: .5;
    	&:hover {
    		opacity: .75;
    	}
  	}
}
#TermsConditions.modal .modal-content .modal-header h4 {
	margin: 0 0 10px;
	color: $lbrown;
	font-size: 32px;
	span {
		color: $purple;
		font-size: 22px;
		display: block;
	}
}
#TermsConditions.modal .modal-content .modal-body p {
	text-align: $left;
	margin: 0 0 15px;
	color: $black;
}
#CMessage {
	.close {
		@include absolute (12px,if-ltr(20px,auto),auto,if-ltr(auto,20px));
		opacity: 1;
		z-index: 9;
		color: #fff;
    	text-shadow: 1px 1px 1px #333;
	}
	.modal-content {
		.modal-header {
			padding: 0;
		}
		.modal-body {
			padding: 0;
		}
	}
	.msgbox {
		padding: 30px 25px 10px;
		text-align: $left;
		float: $left;
		width: 100%;
		.msgsent {
			background-color: #F4EBD3;
			padding: 15px 25px;
			float: $right;
			width: 90%;
			@include border-radius (23px);
			margin-bottom: 20px;
			position: relative;
			&:after {
				@include absolute(auto,if-ltr(7px,auto),-5px,if-ltr(auto,7px));
				content: "\f075";
				font: normal normal normal 14px/1 FontAwesome;
    			font-size: inherit;
    			text-rendering: auto;
    			-webkit-font-smoothing: antialiased;
    			transform: scaleX(-1);
    			filter: FlipH;
    			font-size: 35px;
    			color: #F4EBD3;
			}
			p {
				color: #555555;
				font-size: 14px;
			}
		}
		.msgreceive {
			background-color: #B28C67;
			padding: 15px 25px;
			float: $left;
			width: 90%;
			margin-bottom: 20px;
			@include border-radius (23px);
			position: relative;
			&:after {
				@include absolute(auto,if-ltr(auto,7px),-5px,if-ltr(7px,auto));
				content: "\f075";
				font: normal normal normal 14px/1 FontAwesome;
    			font-size: inherit;
    			color: #B28C67;
    			font-size: 35px;
    			text-rendering: auto;
    			-webkit-font-smoothing: antialiased;
			}
			p {
				color: $white;
				font-size: 14px;
			}
		}	
	}
	.footerarea {
		background-color: $purple;
		text-align: $left;
		padding: 14px 25px;
		position: relative;
		clear: both;
		.form-control {
			margin: 0;
			padding: if-ltr(0 40px 0 12px,0 12px 0 40px);
		}
		.btn {
			@include absolute(22px,if-ltr(40px,auto),auto,if-ltr(auto,40px));
			border: none;
			font-size: 20px;
			background-color: transparent;
			margin: 0;
			padding: 0;
			color: $lbrown;
		}
	}
	.titlebox {
		background-color: $purple;
		text-align: $left;
		padding: 14px 25px;
		@include border-radius (6px);
		border: 5px solid $white;
		h6 {
			display: inline-block;
			margin: if-ltr(0 70px 0 0,0 0 0 70px);
			font-size: 16px;
			text-align: $left;
			font-weight: bold;
			color: $white;
			span {
				display: block;
				padding-top: 5px;
			}
		}
	}
}
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.88);
    z-index: 999999999999999;
}
.full-center {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.loader .line {
  animation: expand 1s ease-in-out infinite;
  -webkit-animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 2px;
  height: 25px;
}

.loader .line:nth-child(1) {
  background: $white;
}

.loader .line:nth-child(2) {
  animation-delay: 180ms;
  -webkit-animation-delay: 180ms;
  background: $white;
}

.loader .line:nth-child(3) {
  animation-delay: 360ms;
  -webkit-animation-delay: 360ms;
  background: $white;
}

.loader .line:nth-child(4) {
  animation-delay: 540ms;
  -webkit-animation-delay: 540ms;
  background: $white;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}
.ratingbox {
	padding: if-ltr(0 0 0 50px,0 50px 0 0);
}
.progress-bar-vertical {
  	width: 16%;
  	min-height: 285px;
  	display: flex;
  	align-items: flex-end;
  	margin: if-ltr(0 5% 0 0,0 0 0 5%);
  	float: $left;
  	background-color: #FFF4D1;
  	@include border-radius (23px);
  	position: relative;
  	&.last {
  		margin: 0;
  	}
  	.progress-bar {
  		background-color: #F9C834;
  	}
  	.star {
  		@include absolute(auto,0,10px,0);
  		margin: 0 auto;
  		width: 34px;
  		height: 34px;
  	}
}

.progress-bar-vertical .progress-bar {
  	width: 100%;
  	height: 0;
}
/*======================================
      Bootstrap css for START
  ======================================*/
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	float: $left;
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12 {
		float: $left;
	}
}

@media (min-width: 992px) {
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12 {
		float: $left;
	}
}

@media (min-width: 1200px) {
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12 {
		float: $left;
	}
}

.pull-left {
	float: $left !important;
}

.pull-right {
	float: $right !important;
}

.pull-none {
	float: none !important;
}

.text-left {
	text-align: $left;
}

.text-right {
	text-align: $right;
}

.jcf-scrollbar-vertical{
	@include absolute(0, if-ltr(0, auto), 0, if-ltr(auto, 0));
}
.marquee {
	background-color: $lbrown;
	padding: 10px 0;
	color: $white;
}
#nav-icon2 {
	display: none;
}
// Optionally add css animations on dropdowns
/*.dropdown {
  	.dropdown-menu {
	    transition: all 0.3s;
    	max-height: 0;
    	display: block;
    	overflow: hidden;
    	opacity: 0;
  	}
  	&.open .dropdown-menu {
    	transition: max-height 1s;
    	max-height: 100vh;
    	opacity: 1;
  	}
}*/
/* Custom Check Box */
.customcheck {
  	display: block;
  	position: relative;
  	padding: 15px 70px 15px;
  	margin-bottom: 15px;
  	border-bottom: 1px solid #999;
  	cursor: pointer;
  	user-select: none;
  	font-weight: normal;
}
.customcheck input {
  	position: absolute;
  	opacity: 0;
  	cursor: pointer;
  	height: 0;
  	width: 0;
}
.customcheck .checkmark {
  	@include absolute(14px,if-ltr(auto,35px),auto,if-ltr(35px,auto));
  	height: 23px;
  	width: 23px;
  	border: 1px solid #999;
  	color: $purple;
  	@include transition-duration(0.4s);
}
.customcheck:hover input ~ .checkmark {
  	background-color: #6b513d;
  	color: #ffffff;
  	border-color: #6b513d;
}
.customcheck input:checked ~ .checkmark {
	background-color: #6b513d;
	color: #ffffff;
	border-color: #6b513d;
}
.customcheck .checkmark:after {
  	content: "";
  	position: absolute;
  	display: none;
}
.customcheck input:checked ~ .checkmark:after {
  	display: block;
}
.customcheck .checkmark:after {
  	left: 9px;
  	top: 6px;
  	width: 5px;
  	height: 8px;
  	border: solid #ffffff;
  	border-width: 0 2px 2px 0;
  	-webkit-transform: rotate(45deg);
  	-ms-transform: rotate(45deg);
  	transform: rotate(45deg);
}

/* Custom Radio Buttons */
.customradio {
  	display: block;
  	position: relative;
  	padding: 15px 70px 15px;
  	margin-bottom: 15px;
  	border-bottom: 1px solid #999;
  	cursor: pointer;
  	user-select: none;
  	font-weight: normal;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}
.customradio input {
  	position: absolute;
  	opacity: 0;
  	cursor: pointer;
  	height: 0;
  	width: 0;
}
.customradio .checkmark {
  	@include absolute(0,if-ltr(auto,0),auto,if-ltr(0,auto));
  	height: 25px;
  	width: 25px;
  	background-color: #eee;
  	border-radius: 50%;
  	color: $purple;
  	@include transition-duration(0.6s);
}
.customradio:hover input ~ .checkmark {
  	background-color: #6b513d;
  	color: #ffffff;
  	border-color: #6b513d;
}
.customradio input:checked ~ .checkmark {
	background-color: #6b513d;
	color: #ffffff;
	border-color: #6b513d;
}
.customradio .checkmark:after {
  	content: "";
  	position: absolute;
  	display: none;
}
.customradio input:checked ~ .checkmark:after {
  	display: block;
}
.customradio .checkmark:after {
  	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/*======================================
      Nav Styles
  ======================================*/
.site-header {
	background-color: $black;
	ul {
		text-align: $right;
		li {
			display: inline-block;
			margin: if-ltr(0 10px 0 0,0 0 0 10px);
			padding: if-ltr(0 15px 0 0,0 0 0 15px);
			position: relative;
			&:after {
				@include absolute(20px,if-ltr(0,auto),auto,if-ltr(auto,0));
				content: '';
				background-color: $white;
				height: 12px;
				width: 1px;
				padding: 0;

			}
			&:last-child {
				margin: 0;
				padding: 0;
				/*a {
					font-family: if-rtl('Lato','Droid Arabic Naskh');
				}*/
				&:after {
					display: none;
				}
			}
			&:first-child {
				margin: if-ltr(0 35px 0 0,0 0 0 35px);
				&:after {
					display: none;
				}
			}
			a {
				color: $white;
				display: block;
				padding: 15px 0;
			}
			.dropdown-menu {
				min-width: 500px;
				@include absolute(100%,if-ltr(0,auto),auto,if-ltr(auto,0));
				padding: 0;
				margin: 0;
				text-align: $left;
				border-radius: 0;
				&:before {
					width: 0;
				    height: 0;
				    border-left: 7px solid transparent;
				    border-right: 7px solid transparent;
				    border-bottom: 11px solid $white;
				    content: '';
				    @include absolute(-11px,if-ltr(18px,auto),auto,if-ltr(auto,18px));
				}
				li {
					margin: 0;
					display: block;
					padding: 30px;
					text-align: center;
					a {
						padding: 0;
						color: $lgrey;
					}
					&:first-child {
						margin: 0;
					}
					p {
						a {
							color: $lbrown;
						}
					}
				}
				label {
					width: 100%;
					color: $lgrey;
					font-size: 18px;
					margin: 0 0 7px;
					font-weight: normal;
					text-align: $left;
				}
				h3 {
					color: $lbrown;
					font-size: 35px;
					margin: 0 0 40px;
					text-align: $left;
					span {
						display: block;
						color: $purple;
						font-size: 30px;
					}
				}
				.form-control {
					font-size: 16px;
					margin: 0 0 20px;
					@include placeholder ($lbrown);
					background-color: $white;
					border: 1px solid #ddd;

				}
				.btn {
					margin: 10px 0 20px;
				}
				&.profilemenu {
					min-width: 160px;
					li {
						padding: 0;
						text-align: $left;
						a {
							padding: 10px 15px;
						}
					}
				}
			} 
		}
	}
}
/*======================================
      Nav Styles
  ======================================*/
.navbar {
	border-radius: 0;
	margin: 0;
	border: none;
	@include absolute(70px, if-ltr(0, auto), 0, if-ltr(auto, 0));
	width: 100%;
	z-index: 3;
	.navbar-brand {
		padding: 0 15px;
		height: auto;
	}
	.navbar-header {
		float: $left;
	}
	.navbar-nav {
		margin: if-ltr(0 0 0 40px, 0 40px 0 0);
		float: $left;
		> li {
			float: $left;
			> a {
				background-color: transparent !important;
				color: $white;
				&:hover,
				&:focus {
					color: $lbrown;
				}
			}
			&.cartitem {	
				min-width: 45px;
				a {
					i {
						@include absolute(38px,if-ltr(auto,0),auto,if-ltr(0,auto));
						font-size: 28px;
					}
					b {
						@include absolute(30px,if-ltr(11px,auto),auto,if-ltr(auto,11px));
						background: #867570;
						@include border-radius(50%);
						width: 18px;
						height: 18px;
						line-height: 18px;
	    				text-align: center;
	    				font-size: 13px;
					}
				}
			}
		} 
	}
	.cartbox {
		position: relative;
		float: $right;
		width: 45px;
		height: 22px;
		.cartitem {
				min-width: 45px;
				a {
					color: $white;
					i {
						@include absolute(38px,if-ltr(auto,0),auto,if-ltr(0,auto));
						font-size: 28px;
					}
					b {
						@include absolute(30px,if-ltr(11px,auto),auto,if-ltr(auto,11px));
						background: #867570;
						@include border-radius(50%);
						width: 18px;
						height: 18px;
						line-height: 18px;
	    				text-align: center;
	    				font-size: 13px;
					}
				}
			}
			#searchtrigger {
				@include absolute(40px,if-ltr(70px,auto),auto,if-ltr(auto,70px));
				color: $white;
				font-size: 20px;
			}
	}
	&.inner {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		background-color: #F4EBD3;
		background-size: cover;
		padding: 0;
		&:after {
			height: 9;
			background-image: url(../images/spup.png);
			width: 100%;
			@include absolute(auto,0,-9px,auto);
			content: '';
		}
		/*&:before {
			height: 9;
			background-image: url(../images/spup.png);
			width: 100%;
			@include absolute(0,0,auto,auto);
			content: '';
		}*/
		.navbar-brand {
			padding-top: 15px;
		}
		.navbar-nav {
			> li {
				> a {
					color: $dbrown;
					&:hover {
						color: $lbrown;
					}
				}
			}
		}
	}
}
.navbar.inner .cartbox #searchtrigger {
	color: $dbrown;
}
/*======================================
      Slider Styles
  ======================================*/
.slider {
	position: relative;
	&:after {
		height: 9;
		background-image: url(../images/sp.png);
		width: 100%;
		@include absolute(auto,0,0,auto);
		content: '';
	}
	&:before {
		height: 594px;
		background-image: url(../images/logo-big.png);
		background-size: cover;
		width: 722px;
		@include absolute(-15px,if-ltr(auto,-100px),auto,if-ltr(-100px,auto));
		content: '';
		z-index: 2;
	}
	.carousel-caption {
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 80px;
		max-width: 1170px;
		padding: 0 15px;
		text-align: $left;
		h2 {
			font-size: 50px;
			font-weight: 400;
			line-height: 1;
			margin: 0;
			color: $white;
			span {
				font-size: 20px;
				display: block;
				padding: if-ltr(0 0 0 85px,0 85px 0 0);
			}
		}
		h4 {
			font-size: 60px;
			color: #CE8D8D;
			font-weight: 400;
			padding: if-ltr(0 0 0 235px,0 235px 0 0);
			position: relative;
			top: -22px;
		}
	}
	&.home {
		.carousel-caption {
			text-align: $right;
			h3 {
				color: $black;
				display: inline-block;
				width: 290px;
				text-align: $left;
				&.last {
					position: relative;
					top: -60px;
				}
			}
			h2 {
				color: $lbrown;
			}
		}
	}
}
/*======================================
      Sections Styles
  ======================================*/
.content {
	padding: 50px 0;
	&.one {
		position: relative;
		padding: 90px 0 90px;
		&:after {
			height: 49px;
			background-image: url(../images/seprator.png);
			background-size: cover;
			width: 100%;
			@include absolute(20px,0,auto,auto);
			content: '';
		}
		.inner {
			max-width: 80%;
			margin: 0 auto;
			img {
				float: $left;
				margin: if-ltr(0 45px 0 0,0 0 0 45px);
			}
			p {
				line-height: 1.75;
			}
		}
	}
	&.add-address {

	}
	&.two {
		padding: 50px 0 0;
		background-image: url(../images/img6.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	&.imgan {
		ul {
			position: relative;
			top: -100px;
			padding: 0;
			li {
				list-style-type: none;
				position: relative;
				overflow: hidden;
				float: $left;
				width: 32%;
				margin: if-ltr(0 2% 24px 0,0 0 24px 2%);
				.img-overlay {
					position: relative;
					height: 450px;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
					@include transition-duration(0.65s) ;
				}
				.titlebox {
					background-color: rgba(255,255,255,.65);
					@include absolute(auto,0,0,auto);
					width: 100%;
					h4 {
						padding: 15px 25px;
						color: $brown;
						font-size: 22px;
						font-weight: 400;
						margin: 0;
						span {
							display: block;
							font-size: 19px;
						}
					}
				}
				&:hover {
					.img-overlay {
						transform: scale(1.25);
					}
				}
				&:nth-child(3) {
					margin: 0;
					.img-overlay {
						height: 924px;
					}
				}
				&:nth-child(4) {
					margin: 0;
					width: 66%;
					margin-top: -450px;

				}
			}
		}
		&.four {
			ul {
				position: relative;
				top: 0;
				padding: 0;
				li {
					width: 50%;
					margin: 0 !important;
					.img-overlay {
						height: 420px !important;
					}
					.titlebox {
						background-color: rgba(0,0,0,.55);
						h4 {
							color: $white;
						}
					}
					&:nth-child(3) {
						width: 100%;
					}
				}
			}
		}
	}
	&.three {
		h4 {
			font-size: 16px;
			font-weight: 400;
			text-align: center;
		}
		.btn-row {
			margin-top: 75px;
		}
	}
	.title {
		text-align: center;
		h2 {
			font-size: 45px;
			font-weight: normal;
			color: $brown;
			display: inline-block;
			position: relative;
			margin: 0 0 45px;
			line-height: 1;
			&:after {
				height: 49px;
				background-image: url(../images/tafter.png);
				background-size: cover;
				width: 169px;
				@include absolute(15px,if-ltr(auto,-200px),auto,if-ltr(-200px,auto));
				content: '';
			}
			&:before {
				height: 49px;
				background-image: url(../images/tbefore.png);
				background-size: cover;
				width: 169px;
				@include absolute(15px,if-ltr(-200px,auto),auto,if-ltr(auto,-200px));
				content: '';
			}
			span {
				font-size: 30px;
				display: block;
				color: $lbrown;
			}
		}
		h3 {
			font-size: 45px;
			font-weight: normal;
			color: $brown;
			position: relative;
			margin: 0 0 45px;
			line-height: 1;
			text-align: center;
			&:before {
				height: 40px;
				background-image: url(../images/seprator.png);
				background-size: cover;
				width: 100%;
				@include absolute(22px,if-ltr(0,auto),auto,if-ltr(auto,0));
				content: '';
				z-index: -1;
			}
			strong {
				display: inline-block;
				background-color: $white;
				padding: 0 30px;
				font-weight: normal;
			}
			span {
				font-size: 28px;
				display: block;
				color: $lbrown;
			}
		}
		h4 {
			font-size: 32px;
			font-weight: normal;
			color: $purple;
			span {
				display: block;
			}
		}
	}
	&.contact {
		background-color: $purple;
		color: #f4ebd3;
		padding: 75px 0;
		h2 {
			color: $lbrown;
		}
		.box-left {
			float: $left;
			width: 30%;
			padding: 40px;
			.inner {
				float: $right;
				width: 300px;
			}
		}
		.sideinner {
			padding: if-ltr(0 0 0 50px,0 50px 0 0);
		}
		ul {
			margin-top: 40px;
			padding: 0;
			li {
				list-style-type: none;
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid #999;
				p {
					margin: 0;
				}
				i {
					color: $purple;
				}
				&:last-child {
					margin: 0;
					padding: 0;
					border: none;
				}
				h5 {
					font-size: 20px;
					margin: 0 0 10px;
				}
				h4 {
					font-size: 22px;
					margin: 0;
					a {
						color: #f4ebd3;
					}
				}
				h6 {
					font-size: 16px;
					margin: 0;
					color: #f4ebd3;
					i {
						font-size: 18px;
					}
					span {
						padding: if-ltr(0 0 0 10px,0 10px 0 0);
					}
				}
			}
		}
		.box-right {
			float: $left;
			width: 70%;
			padding: 40px;
			background-color: $purple;
			.inner {
				max-width: 90%;
				float: $left;
			}
		}
		h6 {
			margin: 0 0 5px;
			color: $white;
		}
		h2 {
			margin: 0 0 40px;
		}
		.form-control {
			font-size: 16px;
			margin: 0 0 20px;
			@include placeholder ($lbrown);
			background-color: rgba(0,0,0,.75);
			border: 1px solid #838484;
			border-radius: 0;
			color: $white;
		}
		textarea.form-control {
			min-height: 170px;
		}
		label {
			color: $white;
			margin: 0 0 7px;
			width: 100%;
			font-size: 16px;
			font-weight: normal;
		}
		.btn-secondary {
			color: $purple;
		}
		&.stores {
			ul {
				li {
					position: relative;
					padding: if-ltr(0 0 0 35px,0 35px 0 0);
					i {
						@include absolute(0,if-ltr(auto,0),auto,if-ltr(0,auto));
						color: #2b2340;
    					font-size: 40px;
						b {
							color: $white;
							@include absolute(auto,if-ltr(auto,8px),6px,if-ltr(8px,auto));
							font-size: 12px;
						}
					}
					p {
						margin: 0 0 20px;
					}
				}
			}
		}
	}
	&.about {
		.featured {
			float: $left;
			margin: if-ltr(0 30px 30px 0,0 0 30px 30px);
			border-radius: 5px;
			max-width: 400px;
		}
		p {
			font-size: 15px;
			line-height: 1.5;
			&:last-child {
				clear: both;
			}
		}
		h2 {
			line-height: .55;
			margin-bottom: 13px;
		}
	}
	&.titlarea {
		position: relative;
		&:before {
			width: 350px;
			height: 253px;
			background-image: url(../images/logohafter.png);
			background-size: cover;
			content: '';
			@include absolute(-120px,if-ltr(0,auto),auto,if-ltr(auto,0));
			opacity: .75;
		}
		ul {
			padding: 0;
			li {
				display: inline-block;
				list-style-type: none;
				font-size: 14px;
				padding: if-ltr(0 8px 0 0,0 0 0 8px);
				margin: if-ltr(0 8px 0 0,0 0 0 8px);
				position: relative;
				&:after {
					content: "/";
					@include absolute(0,if-ltr(-3px,auto),auto,if-ltr(auto,-3px));

				}
				&:last-child {
					margin: 0;
					padding: 0;
					&:after {
						display: none;
					}
				}
				a {
					color: $brown;
				}
			}
		}
		.filter {
			padding-top: 25px;
			select.form-control {
				position: relative;
    			z-index: 2;
    			height: 30px;
    			background-color: transparent;
    			border: 1px solid #bd9371;
    			padding: 0 10px;
    			color: #32231f;
			}
			.iconsrow {
				z-index: 2;
				i {
					cursor: pointer;
					padding: if-ltr(7px 0 0 8px,7px 8px 0 0);
					font-size: 18px;
					color: #32231f;
				}
			}
			h6 {
				margin-top: 8px;
				font-size: 15px;
				text-transform: uppercase;
				position: relative;
				i {
					padding: if-ltr(0 8px 0 0,0 0 0 8px);
				}
				span {
					float: $right;
					b {
						font-weight: normal;
						padding: if-ltr(0 12px 0 0,0 0 0 12px);
					}
				}
			}
			&:after {
				width: 100%;
				height: 59px;
				background-image: url(../images/filterb.png);
				content: '';
				@include absolute(25px,auto,auto,0);
			}
		}
		h2 {
			span {
				font-size: 20px;
				color: $brown;
				display: block;
			}
		}
	}
	&.products {
		background-color: #f8f8f8;
		#sidebar {
			.list-group {
				margin-bottom: 10px;
			}
			.list-group-item {
				padding: 15px 35px;
				color: $purple;
				background-color: #F4EBD3;
				border: none;
				border-radius: 0;
				font-size: 15px;
				font-weight: bold;
				span {
					display: block;
					i {
						float: $right;
						font-size: 20px;
					}
				}
			}
		}
		#Product-Listing {
			ul {
				display: flex;
	    		flex-wrap: wrap;
	    		padding: 0;
	    		li {
	    			list-style: none;
	    			flex-grow: 1;
	    			width: 33.33%;
	    			list-style: none;
	    			padding: 0 15px;
	    			max-width: 33.33%;
	    			.description {
	    				display: none;
	    				margin: 25px 0 0;
	    			}
	    		}
	    		&.items_list {
	    			li {
	    				width: 100%;
	    				max-width: 100%;
	    				.inbox {
	    					text-align: $left;
	    					.imgbox {
	    						width: 30%;
	    						margin: if-ltr(0 25px 25px 0,0 0 25px 25px);
	    						float: $left;
	    					}
	    					.description {
	    						display: block;
	    					}
	    				}
	    			}
	    		}
			}
		}
		.inbox {
			text-align: center;
			margin-bottom: 35px;
			position: relative;
			small {
				width: 75px;
				background: red;
				@include absolute(23px,if-ltr(auto,0),auto,if-ltr(0,auto))
				text-align: center;
				line-height: 28px;
				color: #f0f0f0;
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				box-shadow: 0 0 3px rgba(0,0,0,.3);
				color: $white !important;
				font-size: 10px;
			}
			a {
				color: $dbrown;
			}
			.imgbox {
				margin-bottom: 15px;
				overflow: hidden;
				position: relative;
				width: 100%;
				height: 180px;
				background-color: #ffffff;
				display: flex;
    			justify-content: center;
    			align-items: center;
				@include transition-duration(0.65s);
				img {
					//width: 100%;
					//max-height: 100%;
				}
			}
			h4 {
				font-size: 18px;
			}
			h5 {
				font-size: 18px;
				margin: 0;
				strong {
					padding: 0 5px;
				}
			}
			i {
				@include absolute(10px,if-ltr(25px,auto),auto,if-ltr(auto,25px));
				color: #fb7176;
				font-size: 20px;
				@include transition-duration(0.65s);
				&:hover {
					transform: scale(1.15);
				}
			}
			&:hover {
				.imgbox {
					img {
						transform: scaleX(-1);
					}
				}
				a {
					color: $purple;
				}
			}
			&.custom {
				.imgbox {
					background-color: #D1FCFF;
					padding: 30px;
				}
			}
		}
	}
	&.single-products {
		.product-info {
			h4 {
				padding: 0 0 12px;
				margin: 0 0 12px;
				border-bottom: 1px solid #999;
				font-size: 20px;
				color: #BD9371;
			}
			.ratings {
				margin-bottom: 25px;
			}
			.jq-ry-container {
				padding: 0;
			}
			h5 {
				font-weight: 700;
				color: #50456D;
				margin: 20px 0 15px;
				font-size: 18px;
				span {
					font-size: 14px;
					font-weight: normal;
					padding: if-ltr(0 0 0 15px,0 15px 0 0);
				}
				&.bordered {
					padding: 12px 0 0;
					margin: 12px 0 30px;
					border-top: 1px solid #999;
				}
			}
			ul {
				padding: 0;
				margin-bottom: 20px;
				list-style-type: none;
				li {
					font-size: 15px;
					span {
						padding: if-ltr(0 0 0 15px,0 15px 0 0);
					}
				}
			}
			h6 {
				font-size: 24px;
				font-weight: 700;
				color: #BD9371;
				margin: 0;
				line-height: 36px;
			}
			.btn-primary {
				width: 100%;
				margin-top: 35px;
			}
			.input-group-btn > .btn {
				height: 42px;
			    line-height: 1;
			    font-size: 20px;
			    padding: 0 18px;
			    border: none;
			    background: #F4EBD3;
			    color: #BD9371;
			    border-radius: 0;
			    &:hover {
			    	background: #BD9371;
			    	color: #F4EBD3;
			    }
			}
			.input-group {
				float: $right;
				width: 55%;
			}
			.form-control {
				background-color: $white;
				color: $purple;
				font-weight: 900;
				font-size: 22px;
			}
		}
	}
	&.rateproduct {
		h6 {
			font-weight: 700;
			color: #BD9371;
			font-size: 16px;
			margin: 0 0 8px;
			&.heading {
				margin-bottom: 25px;
			}
			span {
				display: block;
				color: #B9B9B9;
				padding-top: 5px;
			}
		}
		form {
	 		.form-control {
				background-color: $white;
				border: 1px solid #95989A;
				margin: 0 0 25px;
				padding: 0 15px;
				@include border-radius(4px);
			}
			textarea.form-control {
				padding: 15px;
			}
			.btn {
				@include absolute(auto,if-ltr(30px,auto),40px,if-ltr(auto,30px));
			}
		}
		p {
			margin-bottom: 35px;
			&.cname {
				margin-bottom: 10px;
			}
		}
	}
	&.checkout {
		position: relative;
		&:before {
			width: 350px;
			height: 253px;
			background-image: url(../images/logohafter.png);
			background-size: cover;
			content: '';
			@include absolute(-140px,if-ltr(0,auto),auto,if-ltr(auto,0));
			opacity: .75;
		}
		.navarea {
			padding: 0 0 10px;
			list-style-type: none;
			margin-bottom: 40px;
			border-bottom: 1px solid #E6E6E6;
			li {
				display: inline-block;
				margin: if-ltr(0 40px 0 0, 0 0 0 40px);
				a {
					color: #555555;
					font-size: 18px;
					font-weight: normal;
					position: relative;
					padding: 0 0 13px;
					&:before {
						@include transition-duration(0.65s) ;
						width: 0;
						height: 3px;
						background-color: $lbrown;
						content: '';
						@include absolute(auto,if-ltr(auto,0),0,if-ltr(0,auto));
					}	
					i {
						padding: if-ltr(0 8px 0 0, 0 0 0 8px);
						font-size: 20px;
					}
					&:hover,
					&:focus {
						color: $lbrown;
						&:before {
							width: 100%;
						}
					}
				}
				&.active {
					a {
						color: $lbrown;
						&:before {
							width: 100%;
						}
					}
				}
			}
		}
		.wbox {
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			overflow: hidden;
			padding: 25px;
			.col-sm-4 {
				img {
					max-width: 65px;
					float: $left;
					margin: if-ltr(0 8px 0 0,0 0 0 8px);
				}
			}
			.inputnumber {
				margin: 8px 0 0;
			}
			.editbox {
				.btn {
					@include absolute(auto,if-ltr(15px,auto),-5px,if-ltr(auto,15px));
					background-color: #B28C67;
					color: $white;
					@include border-radius (23px);
					padding: 0;
					width: 36px;
					height: 36px;
					&:hover {
						background-color: darken(#B28C67,25%);
					}
				}
				.dropdown-menu {
					left: if-ltr(auto,15px);
					right: if-ltr(15px,auto);
					background-color: #555555;
					padding: 0;
					border: none;
					border-radius: 0;
					margin: 0;
					min-width: 185px;
					> li {
						margin: 0;
						> a {
							padding: 18px 20px;
							color: $white;
							&:hover {
								background-color: $brown;
							}
						}
					}
				}
			}
			h6 {
				font-size: 20px;
				font-weight: bold;
				color: $lbrown;
				margin: 0;
			}
			.row {
				border-bottom: 1px solid #E6E6E6;
				padding-bottom: 25px;
				margin-bottom: 25px;
				&.bnone {
					border: none;
				}
				&.nmp {
					padding-bottom: 0;
					margin-bottom: 0;
					border: none;
				}
				&.last {
					h6 {
						text-align: center;
						line-height: 1.4;
						font-size: 18px;
						span {
							font-weight: normal;
							max-width: 90px;
							text-align: $left;
							display: inline-block;
						}
						strong {
							float: $right;
							color: $purple;
							max-width: 100px;
							font-weight: normal;
						}
					}
					.btn {
						width: 100%;
						height: 55px;
						line-height: 55px;
						margin-top: 15px;
						font-size: 18px;
						span {
							font-weight: normal;
						}
						strong {
							float: $right;
							color: $purple;
							max-width: 100px;
							font-weight: normal;
						}
					}
				}
			}
			h5 {
				font-size: 17px;
				font-weight: bold;
				color: $black;
				margin: 16px 0 0;
				line-height: 1.3;
			}
			&.side {
				h6 {
					margin-bottom: 25px;
				}
				form {
					position: relative;
					.btn {
						@include absolute(16px,if-ltr(20px,auto),auto,if-ltr(auto,20px));						
						font-size: 14px;
						padding: 6px 22px;
						box-shadow: none;
					}
					i {
						@include absolute(20px,if-ltr(auto,20px),auto,if-ltr(20px,auto));
						font-size: 22px;
						color: #999999;
					}
					.form-control {
						padding: if-ltr(0 0 0 39px, 0 39px 0 0);
						background-color: $white;
						border: 7px solid #CE8D8D;
						height: 65px;
						box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.65);
					}
				}
				ol {
					margin-top: 45px;
					list-style-type: none;
					padding: 0;
					li {
						float: $left;
						width: 100%;
						margin: 0 0 20px;
						color: $purple;
						span {
							display: block;
							margin-top: 5px;
							font-size: 16px;
							float: $left;
							i {
								padding: if-ltr(0 5px 0 0,0 0 0 5px);
							}
						}
						strong {
							display: block;
							float: $right;
							color: $black;
							font-weight: 900;
							font-size: 22px;
						}
						h5 {
							span {
								font-size: 19px;
								max-width: 70px;
								color: $lbrown;
								margin-top: 25px;
							}
							font-size: 70px;
							font-weight: normal;
							color: $purple;
							line-height: 1.25;
							strong {
								margin-top: 32px;
							}
						}
					}
				}
				.checkoutbtn {
					width: 100%;
					font-size: 22px;
				}
				p {
					margin: 15px 0 0;
					a {
						color: $purple;
						font-size: 18px;
						&:hover {
							color: $dbrown;
						}
					}
				}
			}
		}
		&.address {
			h2 {
				margin-bottom: 40px;
				span {
					display: block;
					color: $purple;
					font-size: 28px;
				}
			}
			.wbox {
				.bbox {
					background-color: #F4EBD3;
					padding: 20px 20px 12px;
					margin-bottom: 55px;
					h5 {
						font-size: 18px;
						margin: 0;
						line-height: 1.5;
						font-weight: normal;
						margin: 10px 0 8px;
						span {
							display: block;
						}
						a {
							color: $lbrown;
							text-decoration: underline;
						}
					}
					ul {
						li {
							strong {
								display: inline;
								margin: if-ltr(0 0 0 20px,0 20px 0 0);
							}
						}
					}
					.btn {
						@include absolute(14px,if-ltr(20px,auto),auto,if-ltr(auto,20px));
						background-color: transparent;
						font-size: 18px;
						color: #222222;
					}
				}
				.editbox {
					.dropdown-menu {
						top: auto;
					}
				}
				.btn.ccheckout {
					width: 100%;
					background-color: #CE8D8D;
					color: $white;
					box-shadow: none;
					border: 1px solid #CE8D8D;
					margin-top: 52px;
					&:hover {
						background-color: $brown;
						border-color: $brown;
					}
				}
				&.side {
					h6 {
						margin: 0;
					}
					img {
						float: $left;
						max-width: 55px;
						margin: if-ltr(0 10px 0 0,0 0 0 10px);
					}
					h5 {
						margin-top: 5px;
						span {
							display: block;
						}
					}
					.price {
						@include absolute(15px,if-ltr(15px,auto),auto,if-ltr(auto,15px));
						font-weight: bold;
					}
				}
			}
			&.done {
				.wbox {
					max-width: 700px;
					margin: 0 auto;
					&.side {
						h5 {
							margin-top: 13px;
							span {
								display: inline;
								margin: if-ltr(0 0 0 40px,0 40px 0 0);
							}
						}
					}
					.abox {
						color: #BD9371;
    					background-color: #F4EBD3;
						padding: 20px;
						margin: 25px 0;
						h5 {
							color: #50456D;
							font-weight: 900;
							margin: 0 0 10px;
						}
						h6 {
							font-weight: normal;
							color: #333333;
							text-align: $left;
							margin: 0 0 10px;
							span {
								padding: if-ltr(0 0 0 15px,0 15px 0 0);
								display: inline;
								a {
									color: #000000;
								}
							}
						}
						p {
							color: #333333;
							margin: 0 0 0;
							a {
								text-decoration: underline;
								display: block;
								margin-bottom: 20px;
							}
						}
					}
					label {
						font-weight: normal;
						font-size: 18px;
						a {
							font-weight: 900;
							color: #50456D;
							padding: if-ltr(0 0 0 5px,0 5px 0 0);
						}
						&.default {
							.checkmark {
								top: 2px;
							}
						}
					}
					.btn {
						background-color: #CE8D8D;
						color: $white;
						font-size: 20px;
						&:hover {
							background-color: darken (#CE8D8D, 15%);
						}	
					}
				}
				.alertbox {
					max-width: 705px;
					margin: 0 auto 20px;
					@include border-radius (5px);
				}
			}
			&.payment {
				.panel-group {
					max-width: 75%;
				}
				.panel-default > .panel-heading {
					font-weight: 600;
					position: relative;
					.panel-title {
						font-weight: bold;
					}
					i {
						font-style: normal;
						padding: if-ltr(0 0 0 50px,0 50px 0 0);
						font-weight: normal;
					}
					span {
						@include absolute (10px,if-ltr(20px,auto),auto,if-ltr(auto,20px))
						color: $purple;
						font-weight: normal;
						text-decoration: underline;
					}
				}
				.panel-body {
					padding: 25px;
					h5 {
						font-weight: normal;
						line-height: 1.4;
						span {
							display: block;
							padding-top: 5px;
						}
					}
					a {
						color: $lbrown;
						text-decoration: underline;
					}
					h4 {
						font-weight: bold;
						margin: 15px 0 25px;
						span {
							display: block;
							font-weight: normal;
							font-size: 16px;
						}
					}
					label {
						padding: if-ltr(15px 0 15px 50px, 15px 50px 15px 0);
						border: 1px solid #ddd;
						font-weight: normal;
						font-size: 16px;
						.checkmark {
							top: 13px;
							left: if-ltr(15px,auto);
							right: if-ltr(auto,15px);
						}
					}
					.btn {
						float: $right;
						margin-top: 35px;
					}
				}
			}
		}
	}
	&.myaccount {
		h2 {
			font-size: 20px;
			margin-bottom: 35px;
			span {
				display: block;
				color: $purple;
			}
		}
		.wbox {
			width: 100%;
			box-shadow: 0 0 4px #cccccc;
			padding: 35px 35px 5px;
		}
		.tab-content {
			padding: 45px 0;
			min-height: 500px;
			.ptitle {
				padding: 15px;
				color: $white;
				background-color: $purple;
				@include border-radius (5px);
				margin-bottom: 20px;
				h6 {
					margin: 0;
					font-size: 16px;
					font-weight: 600;
					color: $white;
					i {
						padding: if-ltr(0 5px 0 0,0 0 0 5px);
					}
				}
			}
			.ostatus {
				.row {
					border-bottom: none;
    				padding-bottom: 0;
    				margin-bottom: 0;
				}
				&.odetails {
					.row {
						border-bottom: 1px solid #E6E6E6;
    					padding-bottom: 25px;
    					margin-bottom: 25px;
					}
				}
				background-color: #F7F7F7;
				border: 1px solid #E3E3E3;
				padding: 15px 15px 28px 15px;
				margin: 0 0 20px;
				@include border-radius (5px);
				p {
					margin: 0 0 5px;
					font-weight: bold;
					span {
						font-weight: bolder;
						color: #B28C67;
						margin: 0 0 5px;
					}
				}
				ul {
					padding: 0;
					margin: 0;
					li {	
						display: inline-block;
						margin: if-ltr(7px 0 0 40px,7px 40px 0 0);
						min-width: 110px;
						text-align: center;
						p {
							margin: 0;
							span {
								display: block;
								margin: 15px 0 0;
							}
						}
						&:last-child {
							min-width: 40px;
						}
						.btn {
							@include absolute(auto,if-ltr(15px,auto),-5px,if-ltr(auto,15px));
							background-color: #B28C67;
							color: $white;
							@include border-radius (23px);
							padding: 0;
							width: 36px;
							height: 36px;
							&:hover {
								background-color: darken(#B28C67,25%);
							}
						}
						.dropdown-menu {
							left: if-ltr(auto,15px);
							right: if-ltr(15px,auto);
							background-color: #555555;
							padding: 0;
							border: none;
							border-radius: 0;
							margin: 0;
							min-width: 185px;
							> li {
								margin: 0;
								display: block;
								text-align: $left;
								> a {
									padding: 18px 20px;
									color: $white;
									&:hover {
										background-color: $brown;
									}
								}
							}
						}
					}
				}
				.wbox {
					background-color: $white;
					padding: 25px;
					h5 {
						margin-top: 12px;
					}
					h6 {
						padding-bottom: 15px;
						border-bottom: 1px solid #dddddd;
					}
					img {
						@include border-radius(10px);
					}
					.row {
						margin-bottom: 30px;
						padding-bottom: 0;
						border: none;
						&.last {
							margin-bottom: 0;
						}
					}
					ul {
						margin: 25px 0 0;
						li {
							display: block;
							margin: 0 0 2px;
							text-align: inherit;
							font-size: 16px;
							span {
								display: inline-block;
								min-width: 135px;
								margin: 0;
							}
							strong {
								padding: if-ltr(0 0 0 25px,0 25px 0 0);
								color: #9B9B9B;
								display: inline;
								cursor: default;
								font-size: inherit;
							}
						}
					}
					&.leftbox {
						min-height: 513px;
					}
				}
				.complain {
					margin-top: 15px;
					p {
						font-weight: normal;
						font-size: 17px;
						margin: 15px 0;
						span {
							display: block;
							color: #999999;
							font-weight: normal;
						}
					}
					.btn-red {
						margin-top: 26px;
					}
					.faded {
						background-color: #CE8D8D;
						border-color: #CE8D8D;
						&:hover {
							background-color: darken(#CE8D8D,15%);
							border-color: darken(#CE8D8D,15%);
						}
					}
				}
			}
			#favorite {
				.imgbox {
					height: auto !important;
				}
				img {
					width: auto !important;
				}
			}
			#orders {
				.list-group {
					.list-group-item {
						padding: 15px;
					    color: #ffffff;
					    background-color: #50456D;
					    -webkit-border-radius: 5px;
					    -moz-border-radius: 5px;
					    -ms-border-radius: 5px;
					    -o-border-radius: 5px;
					    border-radius: 5px;
					    margin-bottom: 20px;
					    margin: 0;
					    font-size: 16px;
					    font-weight: 600;
					    color: #ffffff;
					    i {
					    	padding: if-ltr(0 5px 0 0,0 0 0 5px);
					    }
					}
				}
			}
		}
		ul {
			padding: 0;
			list-style-type: none;
			li {
				margin-bottom: 30px;
				label {
					font-size: 16px;
					color: $purple;
					margin: 0;
				}
				.form-control {
					display: block;
					color: $lbrown;
					font-size: 18px;
					background-color: transparent;
					border: none;
					padding: 8px 10px;
					border: 1px solid #dddddd;
					margin-top: 5px;
					box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075);
					max-width: 350px;
				}
				strong {
					display: block;
					color: $lbrown;
					font-size: 18px;
					font-weight: normal;
					cursor: pointer;
				}
				h6.changes {
					display: inline-block;
					margin: if-ltr(10px 0 0 15px,10px 15px 0 0);
					font-size: 15px;
					font-weight: bold;
					color: $lbrown;
					span {
						color: $purple;
						display: block;
						font-weight: normal;
						padding-top: 5px;						
					}
				}
			}
			.btn {
				position: relative;
				top: -12px;
				&.btn-danger {
					margin: if-ltr(0 0 0 15px,0 15px 0 0);
				}
			}
			.phiddenfields {
				display: none;
				vertical-align: middle;
				.form-control {
					display: inline-block;
					@include placeholder($lbrown);
					margin: if-ltr(0 15px 0 0,0 0 0 15px);
					border: 1px solid #dddddd;
					padding: 8px 10px;
					margin-top: 5px;
					margin-bottom: 15px;
				}
			}
		}
	}
	&.productskg {
		.pbox {
			text-align: center;
			margin: 0 auto 45px;
			max-width: 90%;
			.imgbox {
				margin-bottom: 15px;
				img {
					position: relative;
					height: 160px;
				}
			}
			h3 {
				font-size: 20px;
				margin-bottom: 0;
				color: #333333;
				span {
					display: block;
					margin-top: 6px;
				}
			}
			&:hover {
				.imgbox {
					img {
						transform: scale(1.15);
					}
				}
			}
		}
		.sidebox {
			h2 {
				font-size: 28px;
			}
			h5 {
				font-weight: 900;
				color: $purple;
				margin: 0 0 15px;
				font-size: 18px;
				span {
					font-weight: normal;
					margin: if-ltr(0 0 0 20px,0 20px 0 0);
				}
			}
			ol {
				margin: 0 0 20px;
				li {
					font-size: 16px;
					margin: 0 0 5px;
					&:last-child {
						margin: 0;
					}
					span {
						display: inline-block;
						min-width: 140px;
					}
				}
			}
			.btn {
				width: 100%;
				margin-top: 25px;
			}
		}
		&.customizebox {
			padding-bottom: 140px;
			position: relative;
			&:after {
				height: 49px;
				background-image: url(../images/seprator.png);
				background-size: cover;
				@include absolute(auto,0,25px,0);
				content: '';
				width: 1240px;
				margin: 0 auto;
			}
			.wbox {
				width: 100%;
				box-shadow: 0 0 4px #cccccc;
				padding: 35px 20px 0;
				float: $left;
				ul {
					list-style-type: none;
					li {
						float: $left;
						width: 31%;
						margin: if-ltr(0 3.5% 35px 0,0 0 35px 3.5%);
						text-align: center;
						cursor: pointer;
						&:nth-child(3n+3) {
							margin: 0;
							margin-bottom: 35px;
						}
						.close {
							display: none;
						}
						.img-overlay {
							position: relative;
							overflow: hidden;
						}
						h4 {
							font-size: 18px;
							span {
								display: block;
								padding-top: 5px;
								b {
									padding: 0 5px;
								}
							}
						}
						&:hover {
							.img-overlay {
								img {
									transform: scale(1.1);
								}
							}
						}
					}
				}
			}
			.sidebox {
				#custombox {
					float: $left;
					width: 100%;
					margin: 0 0 25px;	
					padding: 25px;
					background-color: #333333;
					@include border-radius (8px);
					ul {
						list-style-type: none;
						padding: 0;
						padding: 20px;
						margin: 0;
						@include border-radius (8px);
						border: 1px solid #eeeeee;
						float: $left;
						width: 100%;
						min-height: 250px;
						li {
							float: $left;
							width: 15%;
							margin: if-ltr(0 1.67% 15px 0,0 0 15px 1.67%);
							text-align: center;
							position: relative;
							&:nth-child(6n+6) {
								margin: 0;
								margin-bottom: 15px;
							}
							img {
								@include border-radius(50%);
							}
							h4 {
								display: none !important;
							}
							.close {
								@include absolute(auto,if-ltr(0,auto),0,if-ltr(auto,0));
								opacity: 1;
								width: 28px;
								cursor: pointer;
								display: block;
							}
						}
					}
				}
				#customsgbox {
					float: $left;
					width: 100%;
					margin: 0 0 25px;	
					padding: 25px;
					background-color: #695953;
					@include border-radius (8px);
					ul {
						list-style-type: none;
						padding: 0;
						padding: 20px;
						margin: 0;
						@include border-radius (8px);
						border: 1px solid #eeeeee;
						float: $left;
						width: 100%;
						min-height: 250px;
						li {
							float: $left;
							width: 15%;
							margin: if-ltr(0 1.67% 15px 0,0 0 15px 1.67%);
							text-align: center;
							position: relative;
							&:nth-child(6n+6) {
								margin: 0;
								margin-bottom: 15px;
							}
							img {
								//@include border-radius(50%);
								height: 65px;
							}
							h4 {
								display: none !important;
							}
							.close {
								@include absolute(auto,if-ltr(0,auto),0,if-ltr(auto,0));
								opacity: 1;
								width: 28px;
								cursor: pointer;
								display: block;
								height: auto;
							}
						}
					}
				}
				.btn {
					margin: 0;
					&.btn-primary {
						margin-top: 25px;
					}
				}
			}
			.list-group {
				margin-bottom: 8px;
				.list-group-item {
					background-color: #dddddd;
					border-radius: 0;
					padding: 10px 20px;
					font-size: 20px;
					i {
						@include absolute(15px,if-ltr(20px,auto),auto,if-ltr(auto,20px));
					}
				}
				p {
					font-size: 20px;
					text-align: center;
					margin: 25px 0;
					color: #666666;
				}
				ul.custommsg {
					list-style-type: none;
					padding: 0 50px;
					margin: 0 0 20px;
					text-align: center;
					li {
						float: none;
						max-width: 9%;
						display: inline-block;
						margin: if-ltr(0 0.5% 10px 0,0 0 10px 0.5%);
						text-align: center;
						cursor: pointer;
						&:nth-child(10n+10) {
							margin: 0;
							margin-bottom: 10px;
						}
						.close {
							display: none;
						}
						.img-overlay {
							position: relative;
							overflow: hidden;
						}
						h4 {
							font-size: 18px;
							span {
								display: block;
								padding-top: 5px;
								b {
									padding: 0 5px;
								}
							}
						}
						&:hover {
							.img-overlay {
								img {
									transform: scale(1.1);
								}
							}
						}
					}
				}
			}
		}
	}
	&.customize {
		padding: 0;
		position: relative;
		overflow: hidden;
		&.first {
			&:before {
				height: 9;
				background-image: url(../images/sp.png);
				width: 100%;
				@include absolute(auto,0,0,auto);
				content: '';
				z-index: 1;
			}
		}
		.captionbox {
			@include absolute(0,if-ltr(auto,0),auto,if-ltr(0,auto));
			height: 100%;
			width: 550px;
			background-color: rgba(0,0,0,.75);
			color: $white;
			.inner {
				@include absolute(auto,if-ltr(auto,40px),40px,if-ltr(40px,auto));
			}
			p {
				font-size: 18px;
			}
			.btn {
				color: $purple;
				&:hover {
					background-color: $purple;
					color: $white;
				}
			}
		}
		&.left {
			.captionbox {
				@include absolute(0,if-ltr(0,auto),auto,if-ltr(auto,0));
			}
		}
		&:hover {
			img {
				transform: scale(1.05);
			}
		}
	}
	&.announcements {
		padding-bottom: 70px;
		.title {
			h3 {
				font-size: 28px;
    			color: #BD9371;
				&:before {
					display: none;
				}
				span {
					font-size: 45px;
					color: #32231F;
				}
			}
		}
		ol {
			list-style-type: none;
			padding: 0;
			li {
				float: $left;
				width: 20%;
				text-align: center;
				padding: 0 2%;
				margin: 0 0 45px;
				img {
					height: 160px;
				}
			}
		}
		.btn-row {
			clear: both;
		}
	}
}
.owl-nav {
	@include absolute(40%,0,auto,auto);
	width: 100%;
	button {
		background-image: if-ltr(url(../images/right.png),url(../images/left.png)) !important;
		width: 68px;
		height: 68px;
		text-indent: -9999px;
		@include absolute(40%,if-ltr(-85px,auto),auto,if-ltr(auto,-85px));
		&.owl-prev {
			background-image: if-ltr(url(../images/left.png),url(../images/right.png)) !important;
			@include absolute(40%,if-ltr(auto,-85px),auto,if-ltr(-85px,auto));
		}
	}
}
// Progress Bar
.header-progress-container {
  width: 100%;
}

.header-progress-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-progress-item {
  	position: relative;
  	display: inline-block;
  	width: 177px;
  	line-height: 3em;
  	//Lines
  	&:after {
	    position: absolute;
	    display: block;
	    z-index: 1;
	    top: -2px;
	    left: 0;
	    height: 8px;
	    width: 182px;
	    content: "";
	    background-color: #B28C67;
  	}
  	// Bullets/Balls
  	&:before {
	    position: absolute;
	    z-index: 2;
	    top: -13px;
	    left: 0;
	    height: 30px;
	    width: 30px;
	    border-radius: 50%;
	    border: none;
	    line-height: 1.2em;
	    content: " ";
	    border: 7px solid #B28C67;
	    background-color: $white;
  	}
  	&:last-child {
  		width: auto;
  		&:after {
  			display: none;
  		}
  	}
}

.header-progress-item.done {
  	color: #A4A4A4;
  	&.last {
		&:before {
			font-family: FontAwesome;
			padding-right:10px;
			content: "\f00d";
        	content: "\f00c";
        	background-color: #186E11;
        	border-color: #186E11;
        	color: #ffffff;
        	font-size: 16px;
		}
  	}
}

.header-progress-item.todo {
  	color: #DDDADD;
  	&:after {
    	background: #B9B9B9;
  	}
  	&:before {
    	border-color: #B9B9B9;
  	}
  	&.last {
		&:before {
			font-family: FontAwesome;
			padding-right:10px;
			content: "\f00d";
        	background-color: #C30000;
        	border-color: #C30000;
        	color: #ffffff;
        	font-size: 15px;
        	text-indent: 3px;
		}
  	}
}

.nav-tabs {
	margin: 0 !important;
		> li {
		float: $left;
		margin-bottom: 0 !important;
		margin: if-ltr(0 50px 0 0,0 0 0 50px);
		>a {
			margin: 0;
			border-radius: 0;
			padding: 15px 5px;
			position: relative;
			border: none !important;
			font-size: 22px;
			color: $lbrown !important;
			&:after {
				@include absolute(auto,if-ltr(auto,0),0,if-ltr(0,auto));
				width: 0;
				height: 3px;
				background-color: $lbrown;
				content: '';
				@include transition-duration(0.6s) ;
			}
			&:hover,
			&:focus,
			&.active {
				&:after {
					width: 100%;
				}
			}
		}
		&.active {
			>a {
				&:after {
					width: 100%;
				}
			}
		}
	}
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus, 
.nav-tabs > li.active > a:focus {
	background-color: transparent;
	border: none;
	cursor: pointer;	
	border: none;
}
.alertbox {
	background-color: #456D50;
	padding: if-ltr(18px 25px 18px 65px,18px 65px 18px 25px);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	position: relative;
	color: $white;
	h5 {
		margin: 0;
		font-size: 20px;
		.ok {
			font-size: 30px;
			@include absolute(24px,if-ltr(auto,25px),auto,if-ltr(25px,auto));
		}
		b {
			font-weight: normal;
			text-align: center;
			i {
				display: block;
				font-size: 18px;
				padding-bottom: 2px;
			}
			@include absolute(20px,if-ltr(25px,auto),auto,if-ltr(auto,25px));	
		}
		span {
			display: block;
			margin-top: 6px;
		}
	}
}
.pt0 {
	padding-top: 0;
}
.banner {
	position: relative;
	&:before {
		height: 9;
		background-image: url(../images/sp.png);
		width: 100%;
		@include absolute(auto,0,0,auto);
		content: '';
	}
	img {
		width: 100%;
	}
}
.customcheck.default {
	padding: if-ltr(0 0 0 35px,0 35px 0 0);
	border: none;
	font-weight: 900;
	.checkmark {
		top: -2px;
		left: if-ltr(0,auto);
		right: if-ltr(auto,0);
	}
}
.inputnumber {
	.input-group-btn > .btn {
		height: 42px;
		line-height: 1;
		font-size: 20px;
		padding: 0 18px;
		border: none;
		background: #F4EBD3;
		color: #BD9371;
		border-radius: 0;
		&:hover {
			background: #BD9371;
			color: #F4EBD3;
		}
	}
	.input-group {
		
	}
	.form-control {
		background-color: $white;
		color: $purple;
		font-weight: 900;
		font-size: 20px;
	}
}
/*======================================
      Footer Styles
  ======================================*/
.footer-widgets {
	background-color: $lbrown;
	padding: 50px 0;
	clear: both;
	h5 {
		font-weight: normal;
		font-size: 16px;
		color: $white;
		margin: 0 0 5px;
	}
	form {
		.form-control {
			height: 38px;
			background-color: $white;
		}
	}
	.col-md-8 {
		text-align: center;
	}
	.wbox {
		background-color: $white;
		@include border-radius (8px);
		padding: 15px;
		display: inline-block;
		ul {
			text-align: center;
			li {
				display: inline-block;
				margin: if-ltr(0 10px 0 0,0 0 0 10px);
				&:last-child {
					margin: 0;
				}
			}
		}
	}
	.p0 {
		h5 {
			line-height: 66px;
		}
	}
}
.p0 {
	padding: 0;
}
.error-border {
	box-shadow: 0 0 5px red;
}
.site-footer {
	background-color: $dbrown;
	padding: 20px 0;
	p {
		font-size: 12px;
		color: $white;
		margin: 0;
	}
	ul {
		li {
			display: inline-block;
			margin: if-ltr(0 15px 0 0,0 0 0 15px);
			a {
				color: $white;
				font-size: 18px;
				&:hover {
					color: $lbrown;
				}
			}
		}
	}
}
#searcharea {
	@include absolute(0,auto,auto,-100%);
	min-height: 100%;
	width: 100%;
	z-index: 9;
	background-color: $white;
	@include transition-duration(0.4s);
	.searchheader {
		form {
			position: relative;
			.btn {
				height: 65px;
				line-height: 65px;
				padding: 0;
				border: none;
				box-shadow: none;
				&.back {
					@include absolute(0,if-ltr(auto,0),auto,if-ltr(0,auto));
					border-radius: 0;
				    padding: 0 25px;
				    font-size: 40px;
				}
				&.cart {
					@include absolute(0,if-ltr(0,auto),auto,if-ltr(auto,0));
					border-radius: 0;
				    padding: 0 25px;
				    width: 75px;
				    text-align: center;
				}
				&.submit {
					@include absolute(0,if-ltr(75px,auto),auto,if-ltr(auto,75px));
					border-radius: 0;
				    padding: 0 35px;
				    font-size: 24px;
				    font-weight: bold;
				    text-transform: uppercase;
				    background-color: $lbrown;
				    color: $white;
				    &:hover {
				    	background-color: $purple;
				    }
				}
			}
			.form-control {
				height: 65px;
				background-color: $white;
				border-radius: 0;
				padding: 0 90px;
				font-size: 22px;
				border: 1px solid #ddd;
			}
		}
	}
	.searchfields {
		background-color: #F4EBD3;
		padding: 40px;
		float: $left;
		width: 100%;
		.rfour {
			float: $left;
			width: 100%;
			.customcheck {
				padding: if-ltr(15px 60px 0 40px,15px 40px 0 60px);
				border: none;
				float: $left;
				.checkmark {
					left: if-ltr(0,auto);
					right: if-ltr(auto,0);
					background-color: $white;
					&:after {
						border-color: $purple;
					}
				}
			}
		}
	}
	.searchresults {
		padding: 40px;
		clear: both;
		.simg {
			text-align: center;
			img {
				margin-top: 55px;
			}
		}
	}
	&.active {
		left: 0;
	}
}
/*======================================
      Responsive Styles Styles
  ======================================*/
#nav-icon2 {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 62px;
  right: if-rtl(auto,25px);
  left: if-rtl(25px,auto);
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  border: none;
  background: transparent;
  outline: none;
  display: none; 
  &.open {
  	z-index: 99999;
  }
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #ffffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; 
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0; }

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 0; 
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px; 
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 8px; 
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 16px; 
}

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); 
}

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); 
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 3px; 
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 3px; 
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0; 
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0; 
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 15.5px; 
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 15.5px; 
}

@media (min-width: 1340px) {
	.container {
    	width: 1270px;
	}
}
@media screen and (max-width: 1279px) {
	.footer-widgets .wbox ul li {
		margin: 0;
	}
	.footer-widgets h5 {
		font-size: 15px;
	}
	.content.myaccount .tab-content .ostatus ul li {
		margin: if-ltr(7px 0 0 20px,7px 20px 0 0);
	}
}
@media screen and (max-width: 1023px) {
	.nav > li > a {
		padding-left: 8px;
		padding-right: 8px;
	}
	.navbar .navbar-nav {
		margin: if-ltr(0 0 0 20px,0 20px 0 0);
	}
	.footer-widgets form .form-control {
		margin: 5px 0 10px;
	}
	.footer-widgets {
		text-align: center;
	}
	.footer-widgets .p0 h5 {
		line-height: inherit;
		margin: 30px 0 10px;
	}
	.footer-widgets .wbox {
		max-width: 300px;
		margin: 0 auto;
	}
	.cookiealert {
		display: none !important;
	}
	.slider {
		overflow: hidden;
	}
	.content .title {
		overflow: hidden;
	}
	.content .title h2:before {
		height: 25px;
		width: 65px;
		background-size: 100% 100%;
		right: if-ltr(-90px,auto);
		left: if-ltr(auto,-90px);
	}
	.content .title h2::after {
		height: 25px;
		width: 65px;
		background-size: 100% 100%;
		left: if-ltr(-90px,auto);
		right: if-ltr(auto,-90px);
	}
	.content .title h2 {
		font-size: 35px;
		span {
			font-size: 25px;
		}
	}
	.site-footer {
		text-align: center;
		.text-right {
			text-align: center;
			margin-top: 15px;
		}
	}
	.nav-tabs > li  {
		margin: if-ltr(0 25px 0 0,0 25px 0 0);
		>a {
			font-size: 18px;
		}
	}
	.content.myaccount ul li .form-control,
	.content.myaccount ul li label {
		font-size: 15px;
	}
	.content.myaccount .tab-content .ostatus ul {
		margin: 25px 0 0;
		li {
			margin: if-ltr(7px 0 0 35px,7px 35px 0 0);
		}
	}
	.content.myaccount .tab-content .ostatus ul li p span {
		margin-top: 10px;
	}
	.col-md-6 .content.myaccount .tab-content .ostatus ul {
		text-align: $left;
	}
}
@media screen and (max-width: 767px) {
	#nav-icon2 {
		display: block;
	}
	.navbar .cartbox {
		margin: if-ltr(0 85px 0 0, 0 0 0 85px);
	}
	#mobilenav {
		position: fixed;
		top: 0;
		padding: 20px 25px;
		left: if-ltr(-100%,auto);
		right: if-ltr(auto,-100%);
		z-index: 999;
		@include transition-duration(0.4s);
		background-color: #000000;
		min-height: 400px;
		height: 400px;
		height: 100%;
		width: 260px;
		&.active {
			left: if-ltr(0,auto);
			right: if-ltr(auto,0);
		}
	}
	.navbar .navbar-nav {
		margin: 0;
		float: none !important;
		> li {
			float: none;
		}
	}
	.navbar .navbar-nav.pull-right {
		> li {
			display: inline-block;
		}
	}
	.navbar {
		position: relative;
		top: auto;
		right: auto;
		left: auto;
		bottom: auto;
		padding: 20px 0;
		background-color: #32231f;
	}
	.content.imgan ul li .img-overlay {
		height: 350px;
	}
	.owl-nav {
		display: none;
	}
	.navbar.inner .navbar-nav > li > a {
		color: $white;
	}
	#searcharea .searchheader form .form-control {
		padding: 0 60px;
	}
	#searcharea .searchheader form .btn.back {
		padding: 0 18px;
		font-size: 30px;
	}
	#searcharea .searchheader form .btn.submit {
		padding: 0 20px;
		font-size: 20px;
		right: if-ltr(55px,auto);
		left: if-ltr(auto,55px);
	}
	#searcharea .searchheader form .btn.cart {
		width: 55px;
		padding: 0;
	}
	#searcharea .searchresults h2 {
		font-size: 28px;
	}
	.slider .carousel-caption {
		text-align: center;
		bottom: 30px;
	}
	.slider .carousel-caption h4 {
		font-size: 35px;
		padding: 0;
		top: 0;
	}
	.slider .carousel-caption h2 {
		font-size: 40px;
		span {
			padding: 6px 0 0;
			font-size: 19px;
		}
	}
	.site-header ul li .dropdown-menu {
		min-width: 225px;
		max-width: 100%;
	}
	.site-header ul li .dropdown-menu h3 {
		font-size: 30px;
		span {
			font-size: 22px;
		}
	}
	.site-header ul li .dropdown-menu li {
		padding: 15px;
	}
	.site-header ul li .dropdown-menu label {
		font-size: 15px;
	}
	.site-header ul li .dropdown-menu .form-control {
		font-size: 14px;
	}
	.content.imgan ul li {

	}
	.content.imgan ul li:nth-child(3) .img-overlay,
	.content.imgan ul li .img-overlay {
		height: 200px !important;
	}
	.content.imgan ul li,
	.content.imgan.four ul li {
		width: 49% !important;
		margin: 0 2% 15px 0 !important;
		&:nth-child(2n+2) {
			margin: 0 !important;
			margin-bottom: 15px !important;
		}
	}
	.content.imgan ul li .titlebox h4 {
		font-size: 20px;
		span {
			font-size: 16px;
		}
	}
	.content.imgan ul li .titlebox h4 {
		padding: 10px 15px;
	}
	.content.imgan.four ul li .img-overlay {
		height: 220px !important;
	}
	h2 {
		font-size: 28px;
	}
	.product-info {
		margin-top: 25px;
	}
	.content .title h3 {
		font-size: 35px;
	}
	.content {
		padding: 30px 0;
	}
}
@media screen and (max-width: 414px) {
	.content.one .inner img {
		float: none;
		margin: 0 0 15px;
	}
	.navbar-brand > img {
		max-width: 120px;
	}
	.content.one .inner {
		text-align: center;
	}
	.site-header ul li {
		margin: if-ltr(0 5px 0 0,0 0 0 5px);
		padding: if-ltr(0 10px 0 0,0 0 0 10px);
	}
	h2 {
		font-size: 24px;
	}
	.site-footer p a {
		display: block;
	}
	.content.myaccount .tab-content .ostatus ul {
		text-align: $left;
		li {
			text-align: $left;
			display: block;
			margin: 0;
			&:last-child {
				top: -10px;
			}
		}
	}
	.content.myaccount .tab-content .ostatus .wbox ul li {
		span {
			display: block;
		}
		strong {
			display: block;
		}
	}
	.content.checkout .wbox h6 {
		font-size: 17px;
	}
	.content.checkout .wbox.side ol {
		text-align: center;		
		li {
			float: none;
			span {
				float: none;
				display: block;
			}
			strong {
				float: none;
				display: block;
				padding: 0;
			}
		}
	}
	.content.checkout .wbox .row.last .btn strong {
		float: none;
		padding: if-ltr(0 0 0 5px,0 5px 0 0);
	}
	.content.myaccount ul .btn {
		padding: 10px 33px;
		font-size: 14px;
		&.btn-danger {
			padding: 10px 33px;
		}
	}
}