//	Import Fonts
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
body *, body {
	font-family: 'Droid Arabic Naskh';

}

.fa,
.br-theme-fontawesome-stars .br-widget a {font-family: FontAwesome !important;}
strong,
h2,
h3,
.btn-lg,
section.register.contact .form-control,
section.one.about-price .img-right h4.underlined,
section.one.about-price .img-left h4.underlined {
	font-family: 'Droid Arabic Naskh';
}
@import "variables";
@import "mixins";

@-webkit-viewport {width: device-width;}
@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width; height: device-height;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}


// Override default value for $dir in directional.scss

$dir: rtl;

@import "all";