
<button onclick="sort();">sort</button>
<div class="example"><ul id="xdta">
	<li><span>molestie</span><a href="#" data-foo="condimentum">urna</a></li>
	<li><span>faucibus</span><a href="#" data-foo="sociis">accumsan</a></li>
	<li><span>integer</span><a href="#" data-foo="sagittis">ornare</a></li>
	<li><span>sociis</span><a href="#" data-foo="primis">neque</a></li>
	<li><span>blandit</span><a href="#" data-foo="donec">bibendum</a></li>
	<li><span>adipiscing</span><a href="#" data-foo="magna">ridiculus</a></li>
	<li><span>sagittis</span><a href="#" data-foo="penatibus">in</a></li>
	<li><span>amet</span><a href="#" data-foo="pulvinar">purus</a></li>
</ul></div>
		<script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
		<script src="tinysort.js"></script>
		<script src="jquery.tinysort.js"></script>
		<script src="tinysort.charorder.js"></script>
		
		<script>
		function sort()
		{
		tinysort('ul#xdta>li',{selector:'a',data:'foo'});
		}
		</script>