.content.productskg.customizebox .sidebox #custombox,
.content.productskg.customizebox .sidebox #customsgbox {
    background-color: transparent !important;
    background-size: 100% 100%;
}
.content.productskg.customizebox .sidebox #custombox ul,
.content.productskg.customizebox .sidebox #customsgbox ul {
    padding: 0 !important;
    border: none !important;
}
.ar .intl-tel-input.allow-dropdown .flag-container,
.ar .intl-tel-input.separate-dial-code .flag-container {
	left: auto;
	right: 0;
}
.content.myaccount ul li .intl-tel-input .form-control { 
	padding: 0 0 0 50px;
}
.ar .content.myaccount ul li .intl-tel-input .form-control {
	padding: 0 50px 0 0;
	direction: ltr;
    text-align: right;
    unicode-bidi: bidi-override;
}
.holder {
    text-align: center;
}
.holder a {
    padding: 5px 10px;
    border: 1px solid #32231f;
    font-size: 15px !important;
}
.holder a.jp-current, a.jp-current:hover {
    color: #ffffff !important;
    background-color: #32231f !important;
}
.content.products #Product-Listing ul {
    padding-bottom: 40px;
}
.brands-slider h4 {
	margin-top: 15px;
}
.site-header ul li .dropdown-menu label.customcheck {
	padding: 15px 0 15px 30px;
}
.ar .site-header ul li .dropdown-menu label.customcheck {
	padding: 15px 30px 15px 0;
}
.site-header ul li .dropdown-menu label .checkmark {
	left: 0;
	right: auto;
}
.ar .site-header ul li .dropdown-menu label .checkmark {
	right: 0;
	left: auto;
}
.site-header ul li .dropdown-menu {
	right: -35px;
	left: auto;
}
.ar .site-header ul li .dropdown-menu {
	right: auto;
	left: -35px;
}
.site-header ul li .dropdown-menu::before {
	left: 60px;
	right: auto;
}
.site-header ul li .dropdown-menu::before {
	right: 60px;
	left: auto;
}
@media screen and (max-width: 1024px) {
    .content.myaccount .tab-content .ostatus ul li {
        min-width: 100px;
    }
}

@media screen and (max-width: 767px) {
    .content.imgan ul li{
        width: 100%;
    }
    .content.imgan ul li:nth-child(3) {
        margin: 0 2% 24px 0;
    }
    .content.imgan ul li:nth-child(3) .img-overlay {
        height: 450px;
    }
    .content.imgan ul li:nth-child(4) {
        margin: 0;
        width: 100%;
        margin-top: auto;
    }
    .content.imgan.four ul li {
        width: 100%;
    }
    .footer-widgets form .col-md-4 {
        padding: 10px 0;
        text-align: center;
    }
    .footer-widgets .col-md-6.col-sm-12 .col-md-4 > h5 {
        padding-left: 15px;
    }
    .content.announcements ol li {
        width: 50%;
    }
    .content.contact .sideinner {
        padding: 0;
    }
    .content.contact .sideinner > .row:nth-child(1) .col-md-6 {
        width: 50%;
        float: left;
        margin-top: 20px;
    }
    .content.products #Product-Listing ul li {
        width: 50%;
        max-width: 50%;
    }
    .content.titlarea .filter select.form-control {
        margin-top: 15px;
    }
    .content.products #Product-Listing ul {
        padding: 35px 0;
        justify-content:center;
    }
    /*customize.php*/
    .content.customize .captionbox {
        width: 100%;
    }
    
    /*products.php*/
    .content.products .inbox .imgbox {
        
    }
    .content.products .col-md-9 .col-md-3 {
        float: left;
        width: 50%;
    }

    /*my-account.php*/
    .myaccount .wbox  ul.nav-tabs li {
        width: 100%;
    }
    .content.checkout.address .wbox.side .price {
        position: static;
    }
    .content.myaccount ul .btn {
        position: static;
    }
    .content.myaccount ul li h6.changes {
        display: block;
        margin-bottom: 10px;
    }
    .progress-bar-vertical {
        width: 10%;
    }
    .content.productskg.customizebox .wbox ul li {
        float: none;
    }
    .content.single-products.productskg.customizebox .col-md-7{
        overflow: hidden;
    }
    .site-header ul li .dropdown-menu {
    	min-width: 320px;
		max-width: 100%;
    }
    .nav-tabs > li {
    	margin: 0;
    }
}



@media screen and (max-width: 414px) {
    .content.announcements .title h3 span {
        font-size: 30px;
    }
    .content.announcements ol li {
        width: 100%;
    }
    .content.contact .sideinner > .row:nth-child(1) .col-md-6 {
        width: 100%;
        float: none;
    }
    /*customize.php*/
    .content.customize .bannerbox {
        max-height: 220px;
    }
    .content.customize .bannerbox > img {
        object-fit: cover;
        max-height: 220px;
        max-width: inherit;
    }
    .content.products .col-md-9 .col-md-3 {
        float: none;
        width: 100%;
    }
    .content.about .col-md-12 h2{
        font-size: 30px;
    }

    .content.myaccount .wbox {
        padding: 10px;
    }
    .content.productskg.customizebox .wbox ul li {
        width: 100%;
    }
    .content.productskg.customizebox .list-group ul.custommsg li {
        max-width: none;
    }
    .content.productskg.customizebox .sidebox #customsgbox ul li {
        width: auto;
    }
    .site-header ul li .dropdown-menu {
    	min-width: 260px;
		max-width: 100%;
    }
    .content.myaccount .tab-content .ostatus .wbox ul li strong {
    	padding: 0;
    }
}



@media all and (max-width: 1024px) and (min-width: 768px) {
    .content.announcements ol li {
        width: 33%;
    }
    .content.products .col-md-9 .col-md-3 {
        float: left;
        width: 50%;
    }
    .footer-widgets form .col-md-4 {
        padding: 10px 0;
        text-align: center;
    }
}



/*my-account.php*/
.myaccount .header-progress-list {

    margin-bottom: 10px;
}
.myaccount .header-progress-item:not(:last-child) {
    width: 30%;
}
.myaccount .header-progress-item:before {
    left: -3px;
}
.myaccount .header-progress-item:after {
    width: 100%;
}


